body {
  margin: 0;
  background-color: #111;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.slideshow-container {
  max-width: 80%;
  max-height: 80vh;
  overflow: hidden;
  z-index: 1;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  cursor: pointer;
  z-index: 1000;
  user-select: none;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.2);
}

.left {
  left: 0;
}

.right {
  right: 0;
}
